{% extends 'base.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}
    <h1>Ajouter nouveau place</h1>

    {{ include('place/_form.html.twig') }}

    <a href="{{ path('app_place_index') }}">back to list</a>
{% endblock %}
